@if (interviewInfo.status === 'No Interview') {
  <app-no-interview-card></app-no-interview-card>
} @else {
  <div class="interview card">
    <app-interview-card-base
      [title]="interviewInfo.title"
      [title]="interviewInfo.title"
      [period]="interviewInfo.period"
      [status]="interviewState().status"
      [result]="interviewState().rating"
      [notCompletedMessage]="'Prepare for the interview.'"
      [completedMessage]="'Interview completed — time to relax!'"
      [notCompletedImage]="'https://cdn.rs.school/sloths/stickers/interview-with-mentor/image.svg'"
      [completedImage]="'https://cdn.rs.school/sloths/stickers/congratulations/image.svg'"
    >
      <div person-slot class="interview-info-item">
        <p class="label">Student :</p>
        <div>
          <a class="link" [href]="interviewInfo.interviewer.url" target="_blank">
            <div class="img-wrapper">
              <img class="img" [src]="interviewInfo.interviewer.src" alt="Photo of student" />
            </div>
            <span>{{ interviewInfo.interviewer.github }}</span>
            <img class="github-icon" src="../../../../assets/icons/github.svg" alt="Github logo" />
          </a>
        </div>
      </div>

      <div actions-slot class="button-wrapper">
        @if (interviewState().status === 'Not Completed') {
          <button class="button-rating" (click)="openRatingDialog()">Set Rating</button>
        }
      </div>
    </app-interview-card-base>
  </div>
}
