<div class="stats-card card">
  <div class="title">Your stats</div>
  <div class="info-wrapper stats-wrapper">
    <div class="list-upper-part">
      <div class="stats-item">
        <span class="label">Score Points</span>
        <span class="value">{{ studentData?.totalScore ?? 0 }}</span>
      </div>
      <div class="stats-item">
        <span class="label">Completed Tasks</span>
        <span class="value">{{ completedTasksCount }} / {{ totalTasksCount }}</span>
      </div>
    </div>
    <div class="stats-item">
      <span class="label">Status</span>
      <span class="value status" [class.active]="isActive">{{
        isActive ? 'Active' : 'Inactive'
      }}</span>
    </div>
  </div>
</div>
