<button mat-icon-button [matMenuTriggerFor]="userMenu">
  <mat-icon>account_circle</mat-icon>
</button>
<mat-menu class="menu" #userMenu="matMenu">
  @for (item of matMenuItems; track item.label) {
    @if (item.route) {
      <button mat-menu-item [routerLink]="item.route">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </button>
    }
    @if (item.url) {
      <a mat-menu-item [href]="item.url" [attr.target]="item.external ? '_blank' : null">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </a>
    }
    @if (item.action) {
      <button mat-menu-item (click)="item.action()">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </button>
    }
  }
</mat-menu>
