.donators-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px 1px;
  max-width: 300px;
}

.donator,
.initials {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.donator {
  text-decoration: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.initials {
  color: var(--button-blue);
  background-color: var(--background-color-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 300;
}
