<nav class="course-nav" [ngClass]="{ shadow: !isDashboardPage() }">
  <ul class="list">
    @for (link of courseLinks; track link.name) {
      <li class="list-item" routerLinkActive="active">
        <a
          mat-button
          [routerLink]="[link.getUrl(mockCourse).path]"
          [queryParams]="link.getUrl(mockCourse).query"
          class="link"
        >
          @if (link.icon) {
            <mat-icon [ngStyle]="{ color: link.color }" class="icon">{{ link.icon }}</mat-icon>
          }
          <span>{{ link.name }}</span>
        </a>
      </li>
    }
  </ul>
</nav>
