<aside class="aside">
  <nav>
    <ul>
      @for (item of items; track item.label) {
        <li class="list-item">
          <a class="link">
            <mat-icon
              class="icon"
              aria-hidden="false"
              [aria-label]="`${item.label} icon`"
              [ngStyle]="{ color: item.color }"
              >{{ item.icon }}</mat-icon
            >
            <span class="label">{{ item.label }}</span>
          </a>
        </li>
      }
    </ul>
  </nav>
</aside>
