<div class="score-table-container">
  @if (dataSource | async; as students) {
    @if (students.length === 0 && !isLoading) {
      <p>No students found for this course.</p>
    } @else {
      <div class="table-wrapper">
        <table mat-table [dataSource]="students" matSort (matSortChange)="handleSortChange($event)">
          <!-- Dynamic Columns -->
          @for (column of displayedColumns; track column) {
            <ng-container matColumnDef="{{ column }}">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</th>
              <td mat-cell *matCellDef="let element">
                @if (column === 'githubId') {
                  <a [href]="'https://github.com/' + element.githubId" target="_blank">{{
                    element.githubId
                  }}</a>
                } @else if (column === 'displayName') {
                  {{ element.displayName }}
                } @else if (column === 'totalScore') {
                  {{ element.totalScore }}
                } @else if (column === 'rank') {
                  {{ element.rank }}
                } @else {
                  <!-- Handle task-specific columns -->
                  {{ element[column] }}
                }
              </td>
            </ng-container>
          }

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <mat-paginator
        [length]="totalStudents"
        [pageSize]="pageSize"
        [pageSizeOptions]="[50, 100, 200]"
        (page)="handlePageEvent($event)"
        showFirstLastButtons
      >
      </mat-paginator>
    }
  } @else {
    <div
      class="spinner-container"
      style="display: flex; justify-content: center; align-items: center; height: 100%"
    >
      <mat-spinner></mat-spinner>
    </div>
  }
</div>
