.score-table-container {
  width: 100%;
  overflow-x: auto;
}

.table-wrapper {
  overflow-x: auto;
  margin-bottom: 16px;
}

table {
  width: 100%;
  min-width: 800px;
}

.mat-mdc-table .mat-mdc-header-cell {
  font-weight: bold;
}

.mat-mdc-row.rs-table-row-disabled {
  opacity: 0.5;
}
