@use '../styles/card.shared.scss' as *;

.repository-card {
  padding: 16px;
}

.warning-text {
  color: #faad14;
  font-weight: 600;
  margin-bottom: 16px;
}

.button-container {
  margin-top: 16px;
}

.no-repo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
