.card {
  border: 1px solid var(--border-block-end);
  border-radius: 8px;
}

.title {
  padding: 4px 16px;
  min-height: 38px;
  font-size: 16px;
  display: flex;
  align-items: center;
  font-weight: 500;
  border-bottom: 1px solid var(--border-block-end);
}

.info-wrapper {
  padding: 12px;
}

.label {
  color: var(--text-gray);
  font-size: 16px;
}

.value {
  font-size: 26px;
  font-weight: 400;
  color: var(--text-black);
}

.text {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-black);
  padding-left: 4px;
}
