.card {
  border: 1px solid var(--border-block-end);
  border-radius: 8px;
}

.title {
  padding: 4px 16px;
  min-height: 38px;
  font-size: 16px;
  display: flex;
  align-items: center;
  font-weight: 500;
  border-bottom: 1px solid var(--border-block-end);
}

.info-wrapper {
  padding: 12px;
}

.label {
  color: var(--text-gray);
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.value {
  font-size: 26px;
  font-weight: 400;
  color: var(--text-black);
}

.text {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-black);
  padding-left: 4px;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  margin-top: 8px;
  text-decoration: none;
  color: var(--text-blue);
  font-size: 16px;
}

.img-wrapper {
  width: 28px;
  height: 28px;
  border-radius: 100px;
}

.img {
  width: 28px;
  height: fit-content;
}

.github-icon {
  width: 14px;
  height: 14px;
  opacity: 0;
  transition: all 0.3s ease;
}

.link:hover .github-icon {
  opacity: 1;
}
