@if (interviewInfo.status === 'No Interview') {
  <div class="interview card no-interview-card">
    <span class="title">No interview in nearest time</span>
    <div class="image-wrapper">
      <img
        class="image"
        src="https://cdn.rs.school/sloths/cleaned/its-a-good-job.svg"
        alt="Good Job"
      />
    </div>
  </div>
} @else {
  <div class="interview card">
    <div class="title interview-title">
      <a
        class="title-link"
        href="https://github.com/rolling-scopes-school/tasks/blob/master/angular/modules/interview/README.md"
        target="_blank"
      >
        {{ interviewInfo.title }}
      </a>
      <div class="interview-period-wrapper">
        <mat-icon
          class="icon"
          aria-hidden="false"
          aria-label="Calendar icon"
          fontIcon="calendar_today_outline"
        ></mat-icon>
        <p class="interview-period">
          {{ interviewInfo.period.start | date: 'MMM dd' }} -
          {{ interviewInfo.period.end | date: 'MMM dd' }}
        </p>
      </div>
    </div>
    <div class="content">
      <div class="info-wrapper interview-info-wrapper">
        <div class="interview-info-item">
          <p class="label">Interviewer :</p>
          <div>
            <a class="link" [href]="interviewInfo.interviewer.url" target="_blank">
              <div class="img-wrapper">
                <img class="img" [src]="interviewInfo.interviewer.src" alt="Photo of mentor" />
              </div>
              <span>{{ interviewInfo.interviewer.github }}</span>
              <img
                class="github-icon"
                src="../../../../assets/icons/github.svg"
                alt="Github logo"
              />
            </a>
          </div>
        </div>
        <div class="interview-info-item">
          <p class="label">Status :</p>
          <p class="status not-completed">{{ interviewInfo.status }}</p>
        </div>
        <div class="interview-info-item">
          <p class="label">Result :</p>
          <p class="result not-completed">
            {{ interviewInfo.result === null ? '-' : interviewInfo.result }}
          </p>
        </div>
      </div>

      @if (interviewInfo.status === 'Not Completed') {
        <div class="image-wrapper not-complete-image-wrapper">
          <div class="not-complete-descirption">
            <mat-icon aria-hidden="false" aria-label="Info icon" fontIcon="info_outline"></mat-icon>
            <p>You're all set! Prepare for your upcoming interview.</p>
          </div>
          <img
            class="image"
            src="https://cdn.rs.school/sloths/cleaned/its-a-good-job.svg"
            alt="Good Job"
          />
        </div>
      }
    </div>
  </div>
}
