@use '@angular/material' as mat;

html {
  height: 100%;

  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  height: 100%;
  color-scheme: light;

  // Disabled for now to match the design mockup
  // background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

:root {
  --text-blue: #4466b3;
  --text-black: rgb(0 0 0 / 88%);
  --text-blue-hover: #006bff;
  --border-block-end: rgb(5 5 5 / 10%);
  --background-color: #f5f5f5;
  --border-menu: #bbb;
  --icon-blue: #4466b3;
  --icon-orange: rgb(255 165 0);
  --icon-pink: rgb(235 47 150);
  --icon-red: rgb(245 97 97);
  --icon-violet: rgb(127 0 255);
  --icon-black: rgb(0 0 0 / 88%);
}
